language: node_js
node_js:
  - '6'
cache:
  directories:
    - node_modules
before_install:
  - openssl aes-256-cbc -K $encrypted_b0a95f52de9a_key -iv $encrypted_b0a95f52de9a_iv -in deploy-key.enc -out deploy-key -d
  - chmod 600 deploy-key
  - mv deploy-key ~/.ssh/id_rsa
  - echo -e "Host 188.166.17.158\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config

after_success:
  - echo $TRAVIS_BRANCH
  - test $TRAVIS_BRANCH == "production" && shipit production start-deploy